# Object file
*.o

# Ada Library Information
*.ali

*.stderr
*.stdout
*.d

gnatinspect.*

*.a
*.deps
b__*.ad[sb]
*.bexch
*.db
swig_gnat


Examples
Source/Modules/ada/swig_binding-new-test
portable_new_line_Token.tmp