# Object file
*.o

# Ada Library Information
*.ali

*.stderr
*.stdout
*.d

gnatinspect.*

*.a
*.deps
b__*.ad[sb]
*.bexch
*.db
swig_gnat

abstract_class_vtable_bug
class-fixed_by_hand
class-simple
class-simplest
Examples/gnat/class
Examples/gnat/testsuite/generated
gnat/attic

swig_binding-new-test
Makefile


*-loc.xml
